.container {
  @include core-grid();
  padding: $grid 0;

  @include at-media(desktop) {
    padding-top: $grid * 2;
  }
}

.navigation {
  grid-column-start: content-start;
  grid-column-end: content-end;
  display: flex;
  align-items: flex-start;
  gap: $grid;

  @include at-media(desktop) {
    align-items: center;
    gap: $grid * 2;
  }
}

.title {
  @include font-size(m);
  margin: 0;
  font-weight: 900;
  text-decoration: none;

  &,
  &:visited {
    color: $color--black;
  }

  &:hover {
    text-decoration: underline;
  }
}

.link {
  @include font-size(s);
  color: $color--dark-green;

  &:visited {
    color: $color--dark-green;
  }

  &:hover {
    color: $color--green;
  }
}
