.button {
  @include font-size(m);
  display: block;
  max-width: max-content;
  padding: $grid * 0.5 $grid;
  border: none;
  letter-spacing: 0.5px;
  font-weight: 800;
  border-radius: $border-radius-small;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 6px solid black;
    outline-offset: 2px;
  }
}
