.button {
  @include font-size(s);
  display: block;
  max-width: max-content;
  padding: $grid * 0.75;
  border: none;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: $border-radius-small;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: 6px solid black;
    outline-offset: 2px;
  }
}
