.container {
  display: flex;
  flex-direction: column;
  gap: $grid * 2;
}

.title {
  @include font-size(l);
  margin-top: 1rem;
  margin-bottom: 0;
}

.notice {
  @include font-size(s);
  margin: 0;
}
