@mixin body-text() {
  @include font-size(m);
  font-weight: 350;
  line-height: 1.5;
  margin: $grid 0;
}

@mixin h1-title() {
  @include font-size(xxl);
  font-weight: 900;
  line-height: 1.1;
  margin: 0 0 $grid * 2 0;
}

@mixin h2-title() {
  @include font-size(xl);
  font-weight: 900;
  line-height: 1.1;
  margin: $grid * 2 0 $grid 0;
}

@mixin h3-title() {
  @include font-size(l);
  font-weight: 900;
  line-height: 1.5;
  margin: $grid * 2 0 $grid 0;
}

@mixin h4-title() {
  @include font-size(m);
  font-weight: 900;
  line-height: 1.5;
  margin: $grid * 2 0 $grid 0;
}
