// Colors
$color--white: #fff;
$color--grey: #666666; //hsl(0, 0, 40%);
$color--light-gray: #ddd;
$color--black: #000;
$color--green: #008800; // hsl(120, 100%, 27%);
$color--dark-green: #005500;
$color--blue: #000088; // hue 240
$color--red: #880000; // hue

// Border effect
$border-radius-small: 4px;
$border-radius-medium: 8px;

// Font family
$font--primary: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// Font weights
$weight--extrabold: 900;
$weight--heavy: 800;
$weight--bold: 700;
$weight--semibold: 600;
$weight--medium: 500;
$weight--normal: 400;
$weight--light: 100;

// Font sizes
$base-font-size: 1.8rem;
$large-font-sizes: (
  xxxxl: 6rem,
  xxxl: 5rem,
  xxl: 4.4rem,
  mxl: 3.6rem,
  xl: 3.3rem,
  l: 3rem,
  ml: 2.8rem,
  m: 2.4rem,
  s: 2rem,
  xs: 1.8rem,
  mxs: 1.6rem,
  xxs: 1.4rem,
  xxxs: 1.3rem,
  xxxxs: 1.2rem,
);

$medium-font-sizes: (
  xxxxl: 6rem,
  xxxl: 5rem,
  xxl: 4rem,
  mxl: 3.8rem,
  xl: 3.3rem,
  l: 2.8rem,
  ml: 2.6rem,
  m: 2.2rem,
  s: 2rem,
  xs: 1.8rem,
  mxs: 1.6rem,
  xxs: 1.4rem,
  xxxs: 1.3rem,
  xxxxs: 1.2rem,
);

$small-font-sizes: (
  xxxxl: 6rem,
  xxxl: 4.5rem,
  xxl: 3.2rem,
  mxl: 3rem,
  xl: 2.8rem,
  l: 2.6rem,
  ml: 2.4rem,
  m: 2rem,
  s: 1.8rem,
  xs: 1.6rem,
  mxs: 1.6rem,
  xxs: 1.4rem,
  xxxs: 1.3rem,
  xxxxs: 1.2rem,
);

// Display and layout
$site-width: 1440px;
$grid: 20px;
$content-breakout-space: $grid * 2;
$breakpoints: (
  "tablet" "(min-width: 599px)",
  "desktop" "(min-width: 1023px)",
  "widescreen" "(min-width: 1919px)"
);
