* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  padding: 0;
  margin: 0;
}

a {
  &,
  &:visited {
    color: $color--dark-green;
  }

  &:hover {
    color: $color--green;
  }
}

.container {
  padding: 0 $grid * 2;
}
